---
page_title: "vengtoo_group Resource"
description: "Manages an Vengtoo group."
---

# vengtoo_group

A group bundles subjects together so roles and policies can be assigned to many subjects at once.

## Example Usage

{{ tffile "examples/resources/vengtoo_group/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Groups can be imported using their ID:

{{ codefile "shell" "examples/resources/vengtoo_group/import.sh" }}
