---
page_title: "vengtoo_namespace Resource"
description: "Manages an Vengtoo namespace."
---

# vengtoo_namespace

A namespace is a top-level container for your authorization model. All resource types, subjects, roles, and policies belong to a namespace.

## Example Usage

{{ tffile "examples/resources/vengtoo_namespace/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Namespaces can be imported using their ID:

{{ codefile "shell" "examples/resources/vengtoo_namespace/import.sh" }}
