---
page_title: "vengtoo_resource_type Resource"
description: "Manages an Vengtoo resource type."
---

# vengtoo_resource_type

A resource type defines a category of things you want to protect, along with the actions available on them.

## Example Usage

{{ tffile "examples/resources/vengtoo_resource_type/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Resource types can be imported using their ID:

{{ codefile "shell" "examples/resources/vengtoo_resource_type/import.sh" }}
