---
page_title: "vengtoo_role Resource"
description: "Manages an Vengtoo role."
---

# vengtoo_role

A role groups permissions together. Assign policies to roles, then assign roles to subjects.

## Example Usage

{{ tffile "examples/resources/vengtoo_role/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Roles can be imported using their ID:

{{ codefile "shell" "examples/resources/vengtoo_role/import.sh" }}
